[submodule ".zsh/git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".vim/autoload/.pathogen"]
	path = .vim/autoload/.pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/amcfague/.vim/bundle/gitv"]
	path = /home/amcfague/.vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "/home/amcfague/.vim/bundle/python-mode"]
	path = /home/amcfague/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "/home/amcfague/.vim/bundle/solarized"]
	path = /home/amcfague/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "/home/amcfague/.vim/bundle/supertab"]
	path = /home/amcfague/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "/home/amcfague/.vim/bundle/powerline"]
	path = /home/amcfague/.vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "/home/amcfague/.vim/bundle/xmledit"]
	path = /home/amcfague/.vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "/home/amcfague/.vim/bundle/nerdcommenter"]
	path = /home/amcfague/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "/home/amcfague/.config/awesome/themes"]
	path = /home/amcfague/.config/awesome/themes
	url = https://github.com/mikar/awesome-themes.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".config/awesome/themes"]
	path = .config/awesome/themes
	url = https://github.com/mikar/awesome-themes.git
[submodule ".misc/solarized"]
	path = .misc/solarized
	url = https://github.com/altercation/solarized.git
